fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-ollama
langchain-core
pypdf
pydantic
aiofiles
httpx
bs4
beautifulsoup4

# added for chatbot UI and HTTP calls
streamlit
requests
langchain-huggingface

transformers

huggingface-hub

python-dotenv

numpy
scikit-learn

sentence-transformers

