fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
pypdf
pydantic
aiofiles
httpx
bs4
beautifulsoup4

# HTTP calls
requests
langchain-huggingface

transformers

huggingface-hub

python-dotenv

numpy
scikit-learn

sentence-transformers

